.forma-zakaza
  background-color: $color-forma
  font-size: 13px
  label
    font-weight: 400
    color: $close-color
	
.forma-zakaza
  input[type="text"]
    @include placeholder($color: $close-color)  //for Safari Chrome Firefox
    color: $close-color
    border: none
  select
    border: none   
    color: $close-color