.header-menu
  vertical-align: middle
  background-color: $color-header
  color: $color-white
  padding: 12px 0px 
  .icon, .icon:hover, .icon:visited
    color: $color-white


.header-menu .col-xs-9
  margin-left: -10px