body
  -webkit-font-smoothing: antialiased

a, a:hover, a:visited
  text-decoration: none

.line
  border-bottom: 1px solid #e5e5e5

.line-2
  border-bottom: 2px solid #e5e5e5                        

.size-16px
  font-size: 16px

.size-20px
  font-size: 20px

.size-10px
  font-size: 10px

.size-0-8
  font-size: 0.8em

.size-0-9
  font-size: 0.9em

.size-1-5
  font-size: 1.5em

.size-1-2
  font-size: 1.2em  

.size-1-1
  font-size: 1.1em  

.gray-color
  color: #939598 

.line-height-1-43
  line-height: 1.43em  

.font-bold
  font-weight: bold  

.text-center
  text-align: center  

.btn-success
  background-color: $color-header

.forma-relative
  position: relative
  .btn
    position: absolute
    top: 35px