/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
 
 
//compass-components
@import "compass/typography/links"
@import "compass/typography/lists/horizontal-list"
@import "compass/support"
@import "compass/css3"


// @import "compass/reset"
@import "variables"
@import "bootstrap/_mixins"
@import "bootstrap/_grid"
@import "bootstrap/_forms"
@import "bootstrap/_buttons"
@import "bootstrap/_utilities"


// Reset
@import "bootstrap/_normalize"
@import "bootstrap/_print"
@import "bootstrap/_scaffolding"

//fonts
@import "fonts/_open-sans"
@import "fonts"
@import "fontello/fontello.scss"
@import "fontello/fontello-codes"
@import "fontello/fontello-ie7.scss"
@import "fontello/fontello-ie7-codes"

//my stylies
@import "navbar"
@import "houses-offer"
@import "forma-zakaza"
@import "utilities"
@import "select-checkbox"




///////mobile-4.html
/////////////////////////////////////////

.zakaz-doma  
  border-bottom: 1px solid #EDF6EA
  margin-bottom: 5px
  .zakaz
    @include border-radius(4px, 4px)
    border: 1px solid #BFDFB3
    margin: 8px auto
    color: $color-header
    padding: 7px 0
    text-align: center
    font-weight: bold

////////////////////////////////////////body база отдыха
.mobile4-house-info a
  color: #595959
  &:hover
    color: $color-header

.mobile4-house-info
  .switch
    margin: 0 -15px
  .choise
    padding: 10px 15px 

.mobile4-house-info .spisok
  display: inline-block
  font-size: 0.9em
  padding-left: 10px
  vertical-align: top
  li
    line-height: 1.7em


.mobile4-house-info .focused
  font-weight: bold
  border-bottom: 3px solid $color-header
  a, a:hover, a:visited
    color: $color-header
    

.mobile4-house-info
  .size-20px
    margin-bottom: 7px
  .slider
    margin: 16px -15px
    .photos
      width: 100%
  .price
    padding-bottom: 10px  

   
.block-info
  color: #4D4D4D
  .count
    padding: 13px 0

///////////////////////////////////////////end


////////////////////////////////////форма заказа  placeholder($color: $input-color-placeholder)
.mobile4-forma-zakaza .forma-zakaza
  margin-top: 30px
  .btn
    padding: 10px 12px
    font-size: 16px
    border-bottom: 1px solid $color-border-btn    

.question-call
  text-align: center
  padding-top: 80px
  padding-bottom: 30px

/////////////////////////////////////end

//////////////////////////////////////similar house
.mobile4-houses
  background-color: $color-forma
  padding-bottom: 25px
  img
    float: left
    width: 85px
    margin: 0 15px 10px 0
  .house
    @include border-top-radius(5px)
    background-color: $color-white
    margin: 10px 0
    padding: 10px 17px

.mobile4-houses .size-10px
  color: $color-footer 
/////////////////////////////////////////end

///////////////////////////////////////база описание

.section4-footer
  color: $color-footer
  padding-top: 30px
  .color-black
    color: #1f1f1f

///////////////////////////////////////////end

//////////////////////////////////////////footer
.mobile-4-footer
  color: $color-footer
  .icon
    font-size: 1.5em
    vertical-align: middle
    line-height: 1.8em
    color: $color-footer
  .fontello-icon-twitter, .fontello-icon-facebook
    margin-right: 15px
/////end mobile-4.html


///////mobile-2
//////////////////////////////////////шапка

.all-home
  padding: 10px 0
  .size-20px
    line-height: 1.3em
  
////////////////////////////////////////body
.mobile-2-section
  background-color: $color-forma
  border-top: 1px solid #D5D5D5 
  .btn-success
    margin-top: -20px
  p
    font-weight: bold

.mobile-2-section .more
  margin: 30px 0
  padding: 12px 0

.btn-xs
  padding: 3px 12px  
//////////////////////////////////////////////////end mobile-2


//////////////////mobile             mobile-header

.mobile-header
  height: 100px
  background: url("../img/mobile-1.png") no-repeat 0% 0%/cover
  text-align: center
  color: $color-white
  .size-20px
    margin-top: 35px
    
//////////////////////////////////body

.mobile-section-1
  padding: 25px 15px 15px 15px
  .btn
    border-bottom: 1px solid $color-border-btn
    margin-top: 10px

.uslugi
  padding: 20px 15px 30px 15px
  .btn
    margin-top: -10px
    margin-left: 20%
    margin-right: 20%
  .col-xs-12
    height: 195px
    text-align: center
    color: $color-white
  .row
    margin-bottom: 10px  

.uslugi .transfer, .meat, .celebrity 
  padding: 25px 0px   

.uslugi .transfer
  background: url("../img/mobile-2.png") no-repeat 0% 0%/cover

.uslugi .meat
  background: url("../img/mobile-3.png") no-repeat 0% 0%/cover

.uslugi .celebrity
  background: url("../img/mobile-4.png") no-repeat 0% 0%/cover 

.mobile-section-2 
  border-top: none
  .size-20px
    margin-top: 25px
    font-weight: 400
    margin-bottom: 30px   

/////////////////////////////////////////////////////////////////////////////end mobile  


////////mobile-3
.mobile-3 
  .forma-zakaza
    padding-top: 10px
    border-top: 1px solid #cecece
  .filter
    padding:
      top: 10px
      bottom: 10px 

///////////end