/* line 19, ../sass/fonts.sass */
body, p, h1, h2, h3, h4, h5, h6 {
  line-height: 1.3em;
  font-family: "Open Sans", "HelveticaNeue", "Helvetica", Arial, sans-serif;
  font-size: 14px;
}

/* line 24, ../sass/fonts.sass */
body, p {
  font-weight: normal;
}

/* line 30, ../sass/fonts.sass */
textarea {
  font-size: 14px;
}

/* line 33, ../sass/fonts.sass */
h1, h2, h3, h4, h5, h6 {
  text-shadow: none;
  font-weight: normal;
}

/* line 37, ../sass/fonts.sass */
h1 {
  font-size: 32.2px;
}

/* line 39, ../sass/fonts.sass */
h2 {
  font-size: 28px;
}

/* line 41, ../sass/fonts.sass */
h3 {
  font-size: 21px;
}

/* line 43, ../sass/fonts.sass */
h4 {
  font-size: 16.8px;
}

/* line 45, ../sass/fonts.sass */
h5 {
  font-size: 15.4px;
}

/* line 47, ../sass/fonts.sass */
h6 {
  font-size: 12.6px;
}

/* line 50, ../sass/fonts.sass */
h1 small {
  font-size: 21px;
}

/* line 52, ../sass/fonts.sass */
h2 small {
  font-size: 16.8px;
}

/* line 54, ../sass/fonts.sass */
h3 small {
  font-size: 14px;
}

/* line 56, ../sass/fonts.sass */
h4 small {
  font-size: 14px;
}

/* line 59, ../sass/fonts.sass */
.navbar {
  font-family: "Open Sans", "HelveticaNeue", "Helvetica", Arial, sans-serif;
}

/* line 63, ../sass/fonts.sass */
h1 strong, h2 strong, h3 strong, h4 strong, h5 strong, h6 strong {
  font-weight: 900;
}
@media screen and (max-width: 768px) {
  /* line 62, ../sass/fonts.sass */
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0.3em;
    margin-bottom: 0.2em;
  }
}

/* line 71, ../sass/fonts.sass */
.page-header h1, .page-header h2, .page-header h3 {
  font-size: 21px;
}

/* line 75, ../sass/fonts.sass */
.font-weight-light {
  font-weight: 100;
}

/* line 75, ../sass/fonts.sass */
.font-weight-normal {
  font-weight: 300;
}

/* line 75, ../sass/fonts.sass */
.font-weight-medium {
  font-weight: 500;
}

/* line 75, ../sass/fonts.sass */
.font-weight-bold {
  font-weight: 700;
}

/* line 75, ../sass/fonts.sass */
.font-weight-black {
  font-weight: 900;
}
